[package]
name = "gh-updater"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
minreq = { version = "=2.2.1", features = ["https"] }
serde_json = "1.0.67"